<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
      <navbar-cmp></navbar-cmp>

      <div>
        <p>
         Consider this app as an  Control Center, it is basically a centralised console used by our
          internal
          teams to support operations in our services - Pharmacy Delivery, Insurance and others
        </p>
      
      </div>
      <div id="content" class="content">
       
        
        
        <!-- Micro Frontends go here -->
      </div>
     
  </div>
</div>
